HELP.md
target/
### !.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
!target/calcws-*.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/test.xlsx
/calc*.xlsx
*.xlsx
.mvn
*.docx

### Logs ###
*.log
.DS_Store

### Cert ###
*.p12
*.jks